* {
  box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: #f55a5a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 600px;
    height: 55px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.075em;
    border-radius: 10px 10px 0px 0px;
}

section {
  background-color: white;
  width: 600px;
  border-radius: 0px 0px 10px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.entry--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9px;
}

.entry--info--location {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  height: 13px;
  gap: 6px;
}

.entry--info--title {
  font-weight: 700;
  font-size: 25px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.entry--info--dates {
    font-weight: 700;
    font-size: 13px;
    height: 14px;
}

.entry--info--description {
    font-weight: 400;
    font-size: 11px;
    height: 45px;
}